body {
  color: rgb(255, 255, 255);
  background-image: url("https://art.pixilart.com/8b6698a852323f3.gif");
  background-repeat: no-repeat;
  background-size: 2200px 1300px;
}

h1 {
  color: #66bfbf;
}
h3 {
  color: #66bfbf;
  text-shadow: 2px 2px hwb(304 22% 59%);
}

a {
  color: rgb(255, 255, 255);
}
h1 {
  color: rgb(255, 255, 255);
}
h3 {
  color: rgb(201, 126, 167);
}
.founder {
  color: azure;
}
